body{
    color: rgb(4, 73, 4) !important;
    
    }
    
    .div.h1{
        text-align: center;
    }
    
    .sign-up{
        font-family: sans-serif;
        font-weight: lighter;
    }
    .form_section{
        margin-top: 50px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .form-control{
        font-family: sans-serif;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid black !important;   
    }
    .form.div.placeholder{
        color: black;
        font-size: 14px;
    }
    
    .btn{
        padding: 10px 30px 10px 30px !important;
        font-size: x-large !important;
    }
    
    .bg-img{
        background-image: url(../template/img/1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
    
    .logo{
        font-size: 80px;
        text-align: center;
        padding-top: 230px;
    }
    
    
    .line {
        background-color: rgb(199, 195, 195);
        border-radius: 20px;
        width: 100%;
        height: 20px;
    }
    .circle {
        height: 50px;
        width: 50px;
        border-radius: 50% !important;
        background-color: blue;
    }
    @media(max-width:768px) {
        .detail {
            font-size: 12px;
        }
    }
    .circle-2 {
        height: 50px;
        width: 50px;
        border-radius: 50% !important;
        background-color: rgb(0, 255, 55);
    }
    .circle-positiin-2 {
        top: -35px;
        left: 230px;
    }
    @media (max-width:768px) {
        .circle-positiin-2 {
            top: -35px;
            left: 100px;
        }
        .user {
            font-size: 12px;
        }
    }
    .circle-3 {
        height: 50px;
        width: 50px;
        border-radius: 50% !important;
        background-color: rgb(126, 128, 126);
    }
    .circle-positiin-3 {
        top: -35px;
        right: 20px;
    }
    @media (max-width:768px) {
        .address {
            font-size: 12px;
        }
    }
    @media (max-width:576px) {
        .custom-padding {
            padding-left: 10px !important;
        }
    }
    .circle-positiin {
        top: -35px;
        left: 30px;
    }
    .text-Success {
        color: rgb(0, 255, 55);
    }
    .line {
        background-color: rgb(199, 195, 195);
        border-radius: 20px;
        width: 100%;
        height: 20px;
    }
    .circle {
        height: 50px;
        width: 50px;
        border-radius: 50% !important;
        background-color: blue;
    }
    @media(max-width:768px) {
        .detail {
            font-size: 12px;
        }
    }
    .circle-2 {
        height: 50px;
        width: 50px;
        border-radius: 50% !important;
        background-color: rgb(0, 255, 55);
    }
    .circle-positiin-2 {
        top: -35px;
        left: 180px;
    }
    @media (max-width:768px) {
        .circle-positiin-2 {
            top: -35px;
            left: 100px;
        }
        .user {
            font-size: 12px;
        }
    }
    .circle-3 {
        height: 50px;
        width: 50px;
        border-radius: 50% !important;
        background-color: rgb(126, 128, 126);
    }
    .circle-positiin-3 {
        top: -35px;
        right: 20px;
    }
    @media (max-width:768px) {
        .address {
            font-size: 12px;
        }
    }
    @media (max-width:576px) {
        .custom-padding {
            padding-left: 10px !important;
        }
    }
    .circle-positiin {
        top: -35px;
        left: 30px;
    }
    .text-Success {
        color: rgb(0, 255, 55);
    }